<%= render '/shared/header' %>

<p>Most musicians don't know where to start when it comes to developing a brand.
  On top of that, most starting musicians are DIY and don't have marketing-gurus
  behind them. But, it's understood that developing markets is crucial.
  So where do you start?
</p>

<p>The first step is to understand who your listeners are. But then what? Where
  do you find your listeners in a sea of noise?</p>

<p>Music Twin is an attempt to bridge that gap by using live data. Do you think
  you sound like Kanye West, Drake, or Joy Division? All you have to do is search
  for your artistic "Twins". If they are trending in a metro, it'll display. </p>

<p>With this data, you'll be one step closer to yielding tangible results to
    better-fuel your marketing campaigns.</p>
