<h1>Music Twin</h1>
<p>A place to monitor your twin's trending status.</p>

<p> Don't have an account? No worries, click sign up below! </p>
<a href="/users/new">Sign Up</a>
<a href="/sessions/new">Login </a>
