<!-- ## landing page -->

<%= render '/shared/header' %>

<div class="contanier-fluid text-center main-page">

    <div class="signup-button col-m-4 col-m-offset-4 col-sm-12 center-block text-center">
      <p> DON'T HAVE AN ACCOUNT?</p>
      <a href="/signup">
        <button class="btn btn-warning">
          Sign Up
        </button>
      </a>
    </div>

</div>

<%= render '/shared/footer' %>
