    <% @twin.rankings.each do |ranking| %>
        <li>City: <%= ranking[:name] %> </li>
      </div>
      <div class="cold-md-12">
        <li>Rank: <%= ranking[:rank] %></li>
      </div> -->
    <% end %>

