<!-- ## new user page with partial to render form to post user's input data to db -->
<%= render '/shared/header' %>

<!-- <div class="container"> -->
  <div class="row signup-row col-sm-12">
    <h1>Sign Up!</h1>
    <p>Want to figure out your user markets?</p>
  </div>

  <div class="row col-sm-6">
    <%= render '/shared/userinfo' %>
  </div>
<!-- </div> -->


