<!-- ## new user page with partial to render form to post user's input data to db -->
<%= render '/shared/header' %>
<h1>Sign Up!</h1>
<p>Want to figure out your user markets?</p>

<%= render '/shared/userinfo' %>

