<!-- ## shared footer to keep app DRY -->
<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
      <% flash.each do |name, message| %>
      <%= message %>
      <% end %>
</nav>
