<div class="container">
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav nav-bar-right">
        <li><a href="home">Home</a></li>
        <li><a href="about">About</a></li>
        <li><a href="/users/new">Sign Up</a><li>
        <li><a href="/sessions/new">Login </a><li>
    </nav>
</header>

<header id="header" class="jumbotron">
  <h1>Music Twin</h1>
  <p>A place to monitor your twin's trending status.</p>
</header>


