@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

$primary-font: 'Roboto Condensed', sans-serif;


html, body, .container, h1, h2, h3, h4, h5, h5, p {
  font-family: $primary-font;
}

html {
  height: 100%;
}

li {
  list-style-type: none;
}

.nav, li, a {
  font-size: 20px;
}

.about-text {
  font-size: 18px;
}

.submit-button input {
  background-color: transparent;
  border-style: none;
  display: none;
}

.main-page {

  position: relative;
  color: orange;
  font-weight: bold;
  height: 400px;
  background-image: url('http://sketchthemes.com/samples/irex-music-band-demo/wp-content/uploads/sites/30/2013/03/bigstock_silhouettes_of_concert_crowd_i_1565261621-11.jpg');
}

.signup-row {
  h1, p {
  padding-left: 40px;
  }
}

.login-input {
  input {
    border-radius: 15;
  }
}

.signup-button {
    padding-top: 10%;
    font-size: 20px;
    p {
      font-size: 30px;
    }
}

@media (max-width: 900px) {
  .signup-button {
    padding-top: 20%;
  }
}

@media (max-width: 500px) {
  .signup-button {
    padding-top: 30%;
  }
}

.copyright {
  float: right;
  p {
    margin-top: 10%;
  }
}

.flash-msg {
  color: red;
}



 @import 'bootstrap-sprockets';
 @import 'bootstrap';
